<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="/home">
    <img alt="logo" src="https://bessatech.s3.amazonaws.com/logo.png">
    <span>{{projectName}}</span>
  </a>

  <div class="layout-topbar-menu">
    <p-avatar *ngIf="isAuth" icon="pi pi-user" styleClass="mr-2" size="xlarge"></p-avatar>
    <p-avatar *ngIf="!isAuth" icon="pi pi-sign-in" styleClass="mr-2" size="xlarge" (click)="redirectToLogin()"></p-avatar>
  </div>
</div>
<p-sidebar [(visible)]="userSideBarActive" [baseZIndex]="10000" position="right">
  <div>
    <h3>Usuário</h3>
  </div>
</p-sidebar>
