<div class="p-card h-main-full p-5">
  <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>

  <div class="text-center mt-7">
    <h1>Registrar</h1>
  </div>

  <form class="grid p-1" [ngSwitch]="activeIndex" [formGroup]="form">
    <div *ngSwitchCase="0" class="col-12 grid">
      <div class="col-12 md:col-9">
        <div class="w-full">
          <label for="name" class="block text-900 text-xl font-medium mb-2">Nome</label>
          <input pInputText id="name" formControlName="name"  placeholder="Nome" class="w-full mb-3 p-4">
        </div>
        <div class="w-full">
          <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
          <input pInputText id="email" formControlName="email"  placeholder="Email" class="w-full mb-3 p-4">
        </div>
        <div class="w-full">
          <label for="cpf" class="block text-900 text-xl font-medium mb-2">CPF</label>
          <input pInputText mask="000.000.000-00" id="cpf" formControlName="cpf"  placeholder="CPF" class="w-full mb-3 p-4"/>
        </div>
        <div class="w-full">
          <label for="password" class="block text-900 text-xl font-medium mb-2">Senha</label>
          <input pInputText type="password" id="password" formControlName="password" placeholder="Senha" class="w-full mb-3 p-4">
        </div>
        <div class="w-full">
          <label for="password" class="block text-900 text-xl font-medium mb-2">Confirmar Senha</label>
          <input pInputText type="password" id="confirm_password" placeholder="Senha" class="w-full mb-3 p-4">
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="w-full pt-3">
          <label for="birthDate" class="block text-900 text-xl font-medium mb-2">Data de nacimento</label>
          <p-calendar
            id="birthDate" class="max-w-full" formControlName="birthDate" [inline]="true" [showWeek]="true"></p-calendar>
        </div>
      </div>
      <div class="col-12">
        <div class="field col-12 text-center">
          <button pButton class="w-full" label="Próximo" (click)="nextTab()"></button>
        </div>
      </div>
    </div>

    <div class="col-12 formgrid grid w-full" *ngSwitchCase="1">
      <div class="field col-12 md:col-6">
        <label for="cep" class="block text-900 text-xl font-medium mb-2">Cep</label>
        <input
          pInputText [ngClass]="this.form.get('cep')?.touched == true && !this.form.get('cep')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="cep" formControlName="cep" class="text-base text-color surface-overlay p-2 w-full p-4" (change)="searchCep()">
      </div>
      <div class="field col-12 md:col-4">
        <label for="city" class="block text-900 text-xl font-medium mb-2">Cidade</label>
        <input
          pInputText [ngClass]="this.form.get('city')?.touched == true && !this.form.get('city')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="city" formControlName="city" class="text-base text-color surface-overlay p-2 w-full p-4">
      </div>
      <div class="field col-12 md:col-1">
        <label for="uf" class="block text-900 text-xl font-medium mb-2">Uf</label>
        <input
          pInputText [ngClass]="this.form.get('uf')?.touched == true && !this.form.get('uf')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="uf" formControlName="uf" class="text-base text-color surface-overlay p-2 w-full p-4">
      </div>
      <div class="field col-12 md:col-1">
        <label for="numero" class="block text-900 text-xl font-medium mb-2">Numero</label>
        <input
          pInputText [ngClass]="this.form.get('number')?.touched == true && !this.form.get('number')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="numero" formControlName="number" class="text-base text-color surface-overlay p-2 w-full p-4">
      </div>
      <div class="field col-12 md:col-8">
        <label for="logradouro" class="block text-900 text-xl font-medium mb-2">Logradouro</label>
        <input
          pInputText [ngClass]="this.form.get('street')?.touched == true && !this.form.get('street')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="logradouro" formControlName="street" class="text-base text-color surface-overlay p-2 w-full p-4">
      </div>
      <div class="field col-12 md:col-4">
        <label for="complemento" class="block text-900 text-xl font-medium mb-2">Complemento</label>
        <input
          pInputText [ngClass]="this.form.get('complement')?.touched == true && !this.form.get('complement')?.valid ? 'ng-dirty ng-invalid' : ''"
          id="complemento" formControlName="complement" class="text-base text-color surface-overlay p-2 w-full p-4">
      </div>
      <div class="field col-12 text-center">
        <button pButton class="w-full" label="Registrar" (click)="register()" [loading]="isLoading"></button>
      </div>
    </div>
  </form>
</div>
